<% include ../partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Edit A <%= campground.name %></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form class="form-group" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <input class="form-control" type="text" value="<%= campground.name %>" name="campground[name]">
                <input class="form-control" type="text" value="<%= campground.image %>" name="campground[image]">
                <input class="form-control" type="text" value="<%= campground.description %>"
                    name="campground[description]">
                <input class="btn btn-primary btn-block" type="submit" value="SaÄuvaj">
            </form>

            <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>