<% include ../partials/header %>
<div class="container">
    <section class="section section-add">
        <div class="section-add-text">
            <h1>Lorem ipsum dolor sit amet consectetur elit</h1>
            <p>Lorem ipsum dolor sit amet consectetur elit</p>
        </div>
        <div class="section-add-button">
            <a class="button button-add" href="/campgrounds/new"><img src="/img/plus.svg" alt=""> Dodaj novo mesto</a>
        </div>
    </section>
    <div class="row">
        <% campgrounds.forEach(function(campground) { %>
        <div class="col-md-4">
            <a href="campgrounds/<%= campground._id %>" class="place-card-wrapper">
                <article class="place-card">
                    <div class="place-card-image">
                        <img class="img-fluid" src="<%= campground.image %>" alt="<%= campground.name %>">
                    </div>
                    <div class="place-card-content">
                        <h1 class="place-card-title"><%= campground.name %></h1>
                        <p class="place-card-text"><%= campground.description.slice(0, 100) %>...</p>
                    </div>
                </article>
            </a>
        </div>
        <% }) %>
    </div>
</div>
<% include ../partials/footer %>